<div id="aboutme">
    <h2>About Dogukan Koc</h2>
    
    <h3>👋 Hello World! Welcome to my Website. </h3>
    
    
    <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/0*Vf1dk7q0W1-ly6YX.png" alt="me">
    <p>I’m Dogukan Koc, I live in Turkey. I graduated in Electrical Electronics Engineering. I changed my career path because I love programming. I would like Senior Software Developer therefore I’m improving myself. I will write stories for those interested in software.</p>
</div>




