<div class="project-container">
  <li *ngFor="let project of projectList">
    <div class="project-card">
      <img src="{{project.imagePath}}" alt="Project Image">
      <h5>{{project.name}}</h5>
      <p>{{project.detail}}</p>
    </div>
  </li>
  </div>


  <hr>
<div>
  <h2>Create Project</h2>
  UserId :
  <br>
  <input type="number" #nmbrUserId />
  <br> Name &nbsp; :
  <br>
  <input type="text" #txtName />
  <br> Detail:
  <br>
  <input type="text" #txtDetail />
  <br>
  <br> ImagePAth:
  <br>
  <input type="text" #txtImagePath/>
  <br>
  <button (click)="ProjectAdd(nmbrUserId, txtName, txtDetail, txtImagePath)">Create Project</button>
</div>
<hr>
 
  